td{
font-size:12px;
}
a{
text-decoration:none;
color:#000;
}
a:hover{text-decoration:underline;}

.table1{
border:#CCCCCC solid 1px;

}

.head{
font-weight:bolder;
}

.td1{
border:#CCCCCC solid 1px;
}